%div.well.well-small
  .media
    .pull-left
      %img.media-object.small{:src => answer.user.avatar.url}
    .media-body
      .control-group
        = answer.rendered_body.html_safe
        %br
        %br
        - if @owner && !answer.question.answered?
          = link_to "This is answer!", mark_as_checked_answer_path(answer), method: :post
        - if answer.answered?
          %i.icon-ok
        - if current_user
          = render partial: "questions/comment_form", locals: { answer: answer }
    - if answer.comments.present?
      %h5 Comments
      %ul.nav.nav-list
      = render partial: "answers/comment", collection: answer.comments
%li.divider   
