%div.well.well-small
  .media
    .pull-left
      %img.media-object.small{:src => answer.user.avatar.url}
    .media-body
      .control-group
        = answer.body.html_safe
        %br
        %br
        - if @owner && !answer.question.answered?
          = link_to "This is answer!", mark_as_checked_answer_path(answer), method: :post
        - if answer.answered?
          %i.icon-ok
   