.container-fluid.index{:style => "max-width: 900px; margin: 0 auto;"}
  .ui-widget
    = label_tag "tags or name"
    = text_field_tag "tags"
  #questions 
    = render partial: "question", collection: @questions
  .row-fluid
    .span12
      .row-fluid
      .row-fluid
  %div{:style => "display:none"}
    = will_paginate @questions
