.well.well-small
  .media
    .pull-left
      %img.media-object.small{:src => @question.user.avatar.url}
    .media-body
      %h4.media-heading
        %a{:href => question_path(@question)}= @question.title
      %p= @question.body.html_safe