<% if @comment.valid? %>
  $("#comment-form .control-group").removeClass("error");
  
  $("#comment_body").val("");
  $("#answer_list").html("<%= j render partial: "answers/comment", collection: @answer.comments %>");

<% else %>
  $comment_parent = $("#comment_body").parent();
  $comment_parent.addClass("error");
  $error_field = $("#comment_errors")
  $error_field.html($("<span class='help-inline'><%=  @comment.errors[:comment].last %></span>"));
  //$("#comment-form .control-group").addClass("error").append($("<br/><span class='help-inline'><%= @comment.errors[:comment].last %></span>"));
  //$answer_parent = $("#answer_body").parent();
  //$answer_parent.addClass("error");
<% end %>
