<% if @answer.valid? %>

  $("#answer-form").hide();
  $("#answers").html("<%=j render partial: 'questions/answer', collection: @question.answers %>");

  $pc = $("#points_container");
  var value = parseInt($pc.html());

  $pc.html(value+1);
<% else %>
  $answer_parent = $("#answer_body").parent();
  $answer_parent.addClass("error");
  $error_field = $(".help-inline.answer-errors")
  <% if @answer  &&  @answer.errors[:answered].length > 0 %>
    $error_field.html($("<span class='help-inline'><%=  @answer.errors[:answered].last %></span>"));
  <% elsif @answer  &&  @answer.errors[:body].length > 0 %>
    $error_field.html($("<span class='help-inline'>Body <%=@answer.errors[:body].last %></span>"));
  <%end%> 
<% end %>